.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:whitesmoke;
  }
  
  .accordion-item {
    margin-bottom: 20px;
  }
  
  .accordion-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd9d9;
  }
  
  
  .accordion-title {
    margin: 0;
  }
  
  .accordion-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .accordion-content {
    display: none;
    margin-top: 10px;
  }
  
  .accordion-content p {
    margin: 0;
  }
  